@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Poppins:wght@600;800&display=swap');

:root {
  --background: #eee;
  --text: #333;
  --dc-background: #e2e7f7;
  --dc: #7289da;
  --border: #ccc;
  --title: #111;
  --background-filter: contrast(0.2) brightness(1.7) saturate(1.7) grayscale(0.3);
  --icon-filter: none;
  --project-card-border: #000;
}

body {
  background: var(--background);
  color: black;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s, filter 0.2s, border 0.2s;
}

#active {
  margin: 10px 0;
  text-align: center;
}

#statusimg {
  background-image: url('assets/time-off.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 50px;
  min-height: 60px;
}

#statusimg.on {
  background-image: url('assets/time-on.png');
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  background: #3c709d;
  background: linear-gradient(51deg, #3c709d, #22416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0;
  -webkit-flex: 1 1;
  margin: 0 0 0rem;
}

.b {
  border-top: 1px solid gainsboro;
  padding: 10px;
  position: relative;
}

.b a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.error {
  color: firebrick;
}

/* Snowflake Status (yes this is snowflake ripoff) */

.transfering {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
  fill: #22416c;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #22416c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #22416c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.display-none {
  display: none;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    /* https://design.firefox.com/photon/visuals/color.html#dark-theme */
    color: white;
    background-color: #38383d;
  }
  #statusimg {
    background-image: url('assets/status-off-dark.svg');
  }
  #statusimg.on {
    background-image: url('assets/status-on-dark.svg');
  }
  #statusimg.on.running {
    background-image: url('assets/status-running.svg');
  }
  input:checked + .slider {
    background-color: #3c709d;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #3c709d;
  }
}

[data-theme='dark'] {
  --background: #121212;
  --text: #bbb;
  --dc-background: #161b2b;
  --dc: #445282;
  --border: #222;
  --title: #ddd;
  --background-filter: contrast(0.5) brightness(0.35) saturate(1.7) grayscale(0.2) opacity(1);
  --icon-filter: invert(1);
  --project-card-border: #fff;
}
